{%load static from staticfiles%}

<!DOCTYPE html>
<html>
  <head>
  	<meta charset='utf-8'>
  	<link rel="stylesheet" href="{%static 'style.css'%}">
  </head>
  <body>
    <div class="fixed">
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li><a id="imglogo" href="{% url 'tasks:teams' %}"><img src="{% static 'logo.png' %}"/></a></li>
           <li>
            <form class="create-team" action="{% url 'tasks:createteam' %}" method='post'>
              {% csrf_token %}
              <button  type="submit">Create Team</button>
            </form>
          </li>
          <li>
            <form class="logout-link" action="{% url 'accounts:logout' %}" method='post'>
              {% csrf_token %}
              <button id="logoutId" type="submit">Logout</button>
            </form>
          </li>
          {% else %}
          <li>
            <a href="{% url 'accounts:login' %}"><button>Login</button></a>
          </li>
          <li>
            <a href="{% url 'accounts:signup' %}"><button>Signup</button></a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
  	<div class='wrapper'>
  	  {% block content %}
  	  {% endblock %}
  	</div> 
  </body>
</html