{% extends 'base_layout.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
  	<style>
  		label
  		{
  			float: left;
  			clear: both;
  		}
  		button
  		{
  			margin-left: 50px;
  	
  		}
  	</style>
  </head>
  <body>
  	<h1>User List</h1>
  	{%for nouser in nousers%}
  		<form action="{% url 'tasks:added' gid=groupid pid=nouser.id%}" method='post'>
	  		{% csrf_token %}
	  		<label>{{nouser.username}}</label>
	  		<button type="submit">ADD USER</button>
	  	</form>
  	{%endfor%}

  </body>
</html>

{% endblock %}