{% extends 'base_layout.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <head>
  	<style>
  		.userlabel
      {
        left: 40%;
        position: absolute;
        float: left;
        clear: both;
        padding-top: 10px;

      }
      .adduser
      {
        background: none;
        position: relative;
        left: 60%;
        cursor: pointer;
        border:1px solid #00dba0;
        padding: 10px;
        border-radius: 4px;
        color: #00dba0;
    
      }
  	</style>
  </head>
  <body>
  	<h1>User List</h1>
  	{%for user in not_assigned%}
  		<form action="{% url 'tasks:grpassndtask' gid=group_id tid=task_id pid=user.id%}" method='post'>
	  		{% csrf_token %}
	  		<label class="userlabel">{{user.username}}</label>
	  		<button class="adduser" type="submit">ASSIGN USER</button>
	  	</form>
      <br>
  	{%endfor%}
    {% if not not_assigned %}
    <h2 style="text-align: center;color: red">No one left to assign</h2>
    {% endif %}

  </body>
</html>

{% endblock %}