{% extends 'base_layout.html' %}

{% block content %}
<!DOCTYPE html>
<html>
  <body>
    <nav id="userop">
  	<ul>
      {% if newTeam %}
      <p style="text-align: center; color: green; border: 1px solid green; border-radius: 10px;width: 500px; padding: 10px 10px 10px 10px;">Team Created Successfuly!!!</p>
      {% endif %}
  		{% if curruser == creator.username %}
  		<li><a id="addUser" href="{% url 'tasks:adduser' gid=groupid %}">Add User</a></li>
  		{% endif %}
      <li><a id="newTask" href="{% url 'tasks:grptask' gid=groupid %}">New Task</a></li>
  	</ul>
   </nav>
  	<h1>Creator: {{creator}}</h1>
    <h2>Team Members</h2>
    <br>
  	<div class='tasks'>
    {%for member in members%}
      <div class='task'>
        <h2>{{member}}</h2>
      </div>
    {%endfor%}
  </div> 
  {% if tasks %}
  <h1>Team Tasks</h1>
   <div class='tasks'>
    {%for task in tasks%}
      <div class='task'>
        <h2><a href="{% url 'tasks:grptaskdetail' gid=groupid tid=task.id%}">{{task.title}}</a></h2>
        <p>{{task.snippet}}</p>
        <p style="font-weight: bold;" class="status">{{task.status}}</p>
        <p class="author">added by {{task.assignee}}</p>
      </div>
    {%endfor%}
  </div>
  {% endif %}
  </body>
</html>
<script>
  st = document.getElementsByClassName('status');
  for(i = 0;i < st.length;i++)
  {
      var color;
      if(st[i].innerText == 'Done')
        color = 'green';
      else if(st[i].innerText == 'Planned')
        color = 'red';
      else
        color = 'orange';
      st[i].style.color = color;
  }
</script>

{% endblock %}

