{% extends 'base_layout.html' %}

{% block content %}

<div class='task-detail'>
  <div class='task'>
  	<h1>{{task.title}}</h2>
  	<h2>{{task.status}}</h2>
  	<p>Created by: {{task.assignee}}</p>
  	<p>{{task.description}}</p>
  </div>
  <nav style="margin-top: 40px;text-align: center;">
  	  <a href="{% url 'tasks:edittask' tid=task.id%}">Edit</a>
  </nav>
  <form style="margin: 30px 0 0 30px;" action="{% url 'tasks:taskdetail' tid=task.id %}" method='post'>
    {% csrf_token %}
    <textarea placeholder="Start a discussion..." style="opacity: 0.80; border: 1px solid #00dba0; border-radius: 10px;resize: none;padding: 10px 10px 10px 10px; font-size: 18px;" name="comment" rows="2" cols="40"></textarea>
    <br>
  <nav>
    <button style="margin-top: 10px;" type="submit">Comment</button>
  </nav>
  </form>
  <br>
   {% if all_comments %}
   <button id="btn" class="Clicked" style="background: none; color: white; border: 1px solid #00dba0;border-radius: 10px;font-size: 16px;cursor: pointer;padding: 5px; margin: 10px 10px 10px 10px;">View Comments</button>
   <div class="block" style="display: none; width:550px;margin-left: 40px;">
     {% for comment in all_comments %}
     <div style="padding:10px;border: 1px solid #00dba0;border-radius: 10px;">
       <p>{{comment.comment}}</p>
       <p style="position: relative; left: 400px;">{{comment.commenter}}</p>
     </div>
     {% endfor %}
   </div>
   {% endif %}
  <h1>Assigned Users</h1>
  <div class='tasks'>
    <div class='task'>
      <h2>{{curr_user}}</h2>
    </div>
  </div>
</div>
<script>
  const titleinput = document.querySelector('textarea[name=comment]');
  console.log(titleinput)
  titleinput.addEventListener('keyup', (e) =>{
    titleinput.value = titleinput.value
                     .replace(/[\n\r]+/g, "")
                     .replace(/(.{60})/g, "$1\n");
  });
  btn = document.getElementById('btn');
  dis = document.getElementsByClassName('block')[0];
  btn.addEventListener('click', ()=>{
        if (btn.className == 'Clicked'){
            btn.className = 'NotClicked';
            dis.style.display = 'block';
        }
        else{
            btn.className = 'Clicked';
            dis.style.display = 'none';
        }
    
    });
</script>
</div>



{% endblock %}