{% extends 'base_layout.html' %}

{% block content %}
  	<nav>
  		<ul>
  			<li><a id="newTask" href="{% url 'tasks:indtask' %}">New Task</a></li>
  		</ul>
  	</nav>
  	<h1 id="test">Your Tasks</h1>
   <div class='tasks'>
	  {%for task in tasks%}
	  	<div class='task'>
	  	  <h2><a href="{% url 'tasks:taskdetail' tid=task.id%}">{{task.title}}</a></h2>
	  	  <p>{{task.snippet}}</p>
	  	  <p style="font-weight: bold;" class="status">{{task.status}}</p>
	  	  <p class="author">added by {{task.assignee}}</p>
	  	</div>
	  {%endfor%}
	</div>
  	{% if usergroups %}
  	<h1>Your Teams</h1>
	<div class='tasks'>
	  {%for usergroup in usergroups%}
	  	<div class='task'>
	  	  <h2><a href="{% url 'tasks:memberlist' gid=usergroup.id %}">Team {{forloop.counter}}</a></h2>
	  	  <p class="author">created by {{usergroup.creator}}</p>
	  	</div>
	  {%endfor%}
	</div> 
	{% endif %}
<script>
  st = document.getElementsByClassName('status');	
  for(i = 0;i < st.length;i++)
  {
      var color;
      if(st[i].innerText == 'Done')
        color = 'green';
      else if(st[i].innerText == 'Planned')
        color = 'red';
      else
        color = 'orange';
      st[i].style.color = color;
  }
</script>


{% endblock %}
